@import "src/shared/_reservation-forms.scss";

textarea {
  resize: none;
  width: 90%;
  font-size: 14pt;
  height: 25vh;
}

.send-button {
  font-size: 14pt;
  padding: 8px 24px;
  border-radius: 1.5em;
  background-color: gray;
  color: white;
  text-decoration: none;
}
.send-button:hover {
  background-color: #8f8f8f;
}

.counters-container {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 10pt;
}

.subject-buttons-container {
  display: flex;
}

.radio-button {
  margin: 0 1em;
  min-width: 90px;
  border: none;
  font-weight: bold;
}
.radioButtonSelected {
  min-width: 90px;
  padding: 6px;
  background-color: $color-5;
  color: white;
  font-weight: bold;
}

.star-icon {
  max-width: 32px;
  max-height: 32px;
}

.form {
  h2 h3 {
    margin-bottom: 0;
  }
}
