<div class="form-content">
  <div class="form-title-bar">
    <h2 class="bold">Feedback FORM :</h2>
    <a routerLink="/" class="closebackbutton">CLOSE</a>
  </div>

  <p>Use following form to send us your feedback</p>
  <p><b>NOTE:</b> In order to send us your feedback, you'll be needing your <b>Reservation Token</b> from the last time you visited our restaurant</p>
  <form class="form">

    <h3>Choose your subject:</h3>
    <div class="subject-buttons-container">
      <button
        id="foodButton"
        class="radio-button form-field comp-color normal"
        (click)="selectSubject('food')"
        [ngClass]="{radioButtonSelected: currentSubject === 'food'}"
      >
        Food
      </button>
      <button
        id="serviceButton"
        class="radio-button form-field comp-color normal"
        (click)="selectSubject('service')"
        [ngClass]="{radioButtonSelected: currentSubject === 'service'}"
      >
        Service
      </button>
      <button
        id="websiteButton"
        class="radio-button form-field comp-color normal"
        (click)="selectSubject('website')"
        [ngClass]="{radioButtonSelected: currentSubject === 'website'}"
      >
        Website
      </button>

      <button
        id="otherButton"
        class="radio-button form-field comp-color normal"
        (click)="selectSubject('other')"
        [ngClass]="{radioButtonSelected: currentSubject === 'other'}"

      >
        Other
      </button>
    </div>
    <div>
      <h3>Rate the subject</h3>
      <div>
        <img
          [src]="source[0]"
          class="star-icon"
          (click)="selectStar(1)"
        >
        <img
          [src]="source[1]"
          class="star-icon"
          (click)="selectStar(2)"
        >
        <img
          [src]="source[2]"
          class="star-icon"
          (click)="selectStar(3)"
        >
        <img
          [src]="source[3]"
          class="star-icon"
          (click)="selectStar(4)"
        >
        <img
          [src]="source[4]"
          class="star-icon"
          (click)="selectStar(5)"
        >
      </div>
    </div>
    <label for="feedback-content"><h2> Your Feedback: </h2></label>
    <textarea
      id="feedback-content"
      class="form-field"
      oninput="textChange()"
      placeholder="In my opinion..."
    ></textarea>
    <div>
      <div class="counters-container">
        <p>max: 150 left: <span>150</span></p>
      </div>
    </div>

    <br>
    <div class="button-container">
      <button (click)="sendFeedBack()" class="form-field normal"> <b>SEND</b></button>
    </div>
  </form>
</div>
