<!--simple form for testing-->
<!--<form (ngSubmit)="onSubmit(form_ref)" #form_ref="ngForm">-->
<!--  <label for="username">Enter username</label>-->
<!--  <input type="text" ngModel name="username" id="username">-->
<!--  <button type="submit">Click to submit and close</button>-->
<!--</form>-->
<div class="form-title-bar">
  <h2 class="bold">our menus</h2>
  <a class="closebackbutton" (click)="closeDialog()">Save</a>
</div>
<br>
<div class="content-wrapper">
  <hr>
  <h2 class="bold">drinks</h2>
  <hr>
  <div class="menu-container">
    <div *ngFor="let item of this.menuService.drinks; let i = index">
      <app-menu-item [data]="item"></app-menu-item>
    </div>
  </div>
  <br>
  <br>

  <hr>
  <h2 class="bold">main dishes</h2>
  <hr>
  <div class="menu-container">
    <div *ngFor="let item of this.menuService.dishes; let i = index">
      <app-menu-item [data]="item"></app-menu-item>
    </div>
  </div>
  <br>
  <br>

  <hr>
  <h2 class="bold">desserts</h2>
  <hr>
  <div class="menu-container">
    <div *ngFor="let item of this.menuService.deserts; let i = index">
      <app-menu-item [data]="item"></app-menu-item>
    </div>
  </div>
  <hr>
  <br>
  <br>
</div>

