// colors
$color-1: #fffcf2;
$color-2: lightgrey;
$color-3: #403d39;
$color-4: #252422;
$color-5: #eb5e28;
$color-5_comp: #28b5eb;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$roboto: "Roboto";
