div.confirmation-message{
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
  background-color: lightgrey;
}

ul{
  padding: 0;
}
.list-item{
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}
