@import "src/shared/_variables.scss";
footer{
  display: flex;
  background-color: $color-4;
  align-items: flex-start;
  margin-top: auto;

  ul#footer-list{
    list-style-type: none;
    li{
      padding: 4px 0;
    }
  }
}

a.footer-a{
  text-decoration: none;
  color: white;
}
