<div class="form-content">
  <div class="form-title-bar">
    <h2 class="bold">Reservations Form</h2>
    <a class="closebackbutton" (click)="resetCurrentEntry()">CLOSE</a>
  </div>
  <div class="sub-bar">
    <a routerLink="personal-info" routerLinkActive="current-sub-bar-a"><b>1.PERSONAL INFO</b></a>
    <a routerLink="reservation-info" routerLinkActive="current-sub-bar-a"><b>2.RESERVATION INFO</b></a>
    <a routerLink="optionals" routerLinkActive="current-sub-bar-a"><b>3.OPTIONALS</b></a>
  </div>
  <div class="form">
    <router-outlet></router-outlet>
  </div>
</div>
