<div class="form-title-bar">
  <a class="closebackbutton normal comp-color" (click)="onClose()">CLOSE</a>
  <h1 class="bold">our menus</h1>
  <a class="closebackbutton normal" (click)="onSave()">SAVE</a>
</div>
<div class="normal" >
  <span [ngClass]="{'highlight': highlight}"> You are selecting for {{seatingFor}} guests</span>
</div>
<div class="index">
  <h3>Index</h3>
  <div class="available">
    &nbsp;&nbsp;&nbsp;
  </div>
  : Reservable seats
  <br>
  <div class="unavailable">
    &nbsp;&nbsp;&nbsp;
  </div>
  : Unavailable seats
  <br>
  <div class="reserved">
    &nbsp;&nbsp;&nbsp;
  </div>
  : Reserved seats
  <br>
</div>
<div class="image-container" #container (click)="markIfSeatSelected($event)">
  <img src="/assets/imgs/restaurant1000px.png" usemap="#image-map" >
</div>
<!--<img src="/assets/imgs/restaurant1000px.png" usemap="#image-map" >-->

<map name="image-map" #map>
  <area target="" alt="left_1" title="left_1" coords="65,20,105,61" shape="rect">
  <area target="" alt="left_2" title="left_2" coords="158,21,197,62" shape="rect">
  <area target="" alt="left_3" title="left_3" coords="252,21,291,63" shape="rect">
  <area target="" alt="left_4" title="left_4" coords="345,22,385,61" shape="rect">
  <area target="" alt="left_5" title="left_5" coords="24,127,64,165" shape="rect">
  <area target="" alt="left_6" title="left_6" coords="24,238,64,275" shape="rect">
  <area target="" alt="left_7" title="left_7" coords="25,348,65,387" shape="rect">
  <area target="" alt="left_8" title="left_8" coords="239,420,277,460" shape="rect">
  <area target="" alt="left_9" title="left_9" coords="341,421,381,460" shape="rect">
  <area target="" alt="leftbig_1" title="leftbig_1" coords="203,218,286,256" shape="rect">
  <area target="" alt="leftbig_2" title="leftbig_2" coords="339,217,423,256" shape="rect">
  <area target="" alt="leftbig_3" title="leftbig_3" coords="203,328,285,367" shape="rect">
  <area target="" alt="leftbig_4" title="leftbig_4" coords="339,329,423,369" shape="rect">
  <area target="" alt="rightbig_1" title="rightbig_1" coords="425,218,509,256" shape="rect">
  <area target="" alt="rightbig_2" title="rightbig_2" coords="562,217,645,257" shape="rect">
  <area target="" alt="rightbig_3" title="rightbig_3" coords="754,216,838,256" shape="rect">
  <area target="" alt="rightbig_4" title="rightbig_4" coords="890,217,975,256" shape="rect">
  <area target="" alt="rightbig_5" title="rightbig_5" coords="424,328,509,367" shape="rect">
  <area target="" alt="rightbig_6" title="rightbig_6" coords="562,328,646,367" shape="rect">
  <area target="" alt="rightbig_7" title="rightbig_7" coords="753,327,837,368" shape="rect">
  <area target="" alt="rightbig_8" title="rightbig_8" coords="891,329,975,367" shape="rect">
  <area target="" alt="right_1" title="right_1" coords="475,420,514,460" shape="rect">
  <area target="" alt="right_2" title="right_2" coords="579,420,618,459" shape="rect">
  <area target="" alt="right_3" title="right_3" coords="782,421,820,459" shape="rect">
  <area target="" alt="right_4" title="right_4" coords="885,420,923,459" shape="rect">
  <area target="" alt="outside_1" title="outside_1" coords="23,545,61,584" shape="rect">
  <area target="" alt="outside_2" title="outside_2" coords="181,546,219,584" shape="rect">
  <area target="" alt="outside_3" title="outside_3" coords="23,656,62,696" shape="rect">
  <area target="" alt="outside_4" title="outside_4" coords="180,657,220,696" shape="rect">
  <area target="" alt="outside_5" title="outside_5" coords="587,546,626,584" shape="rect">
  <area target="" alt="outside_6" title="outside_6" coords="588,657,625,695" shape="rect">
  <area target="" alt="outsidebig_1" title="outsidebig_1" coords="319,510,357,594" shape="rect">
  <area target="" alt="outsidebig_2" title="outsidebig_2" coords="469,511,509,594" shape="rect">
  <area target="" alt="outsidebig_3" title="outsidebig_3" coords="317,643,356,726" shape="rect">
  <area target="" alt="outsidebig_4" title="outsidebig_4" coords="468,644,507,726" shape="rect">
  <area target="" alt="outsidebig_5" title="outsidebig_5" coords="831,510,871,594" shape="rect">
  <area target="" alt="outsidebig_6" title="outsidebig_6" coords="830,644,869,727" shape="rect">
</map>
