@import "src/shared/_reservation-forms.scss";
.form-title-bar{
  .comp-color{
    background-color: $color-5_comp;
    color: $color-4;
  }
}
.image-container{
  position: relative;
  img{
    display: block;
  }

  div{
    background-color: rgba(0, 128, 0, 0.15);
    &:hover{
      background-color: rgba(0, 255, 3, 0.66);
    }
  }

}
div.unavailable{
  background-color: rgba(255, 0, 0, 0.3);
  &:hover{
    background-color: rgba(255, 0, 0, 0.66);
    cursor: not-allowed;
  }
}

div.selected{
  background-color: rgb(85, 252, 32);
  transition: background-color 0.2s;
}

.highlight{
  background-color: $color-5;
  color: $color-1;
  padding: 1em;
  border-radius: 0.5em;
  font-weight: bolder;
  border: 2px solid red;
}

div.index {
  font: $roboto;
  div.unavailable{
    width: 1em;
    height: 1em;
    display: inline;
    background-color: rgba(255, 0, 0, 0.3);
  }

  div.available{
    width: 1em;
    height: 1em;
    display: inline;
    background-color: rgba(0, 128, 0, 0.15);
  }

  div.reserved{
    width: 1em;
    height: 1em;
    display: inline;
    background-color: rgb(85, 252, 32);
  }


}

