@import "src/shared/_variables.scss";
.form-title-bar{
  .comp-color{
    background-color: $color-5_comp;
    color: $color-4;
  }
}
.image-container{
  position: relative;
  img{
    display: block;
  }

  div{
    background-color: rgba(0, 128, 0, 0.15);
    &:hover{
      background-color: rgba(0, 255, 3, 0.66);
    }
  }

}
div.unavailable{
  background-color: rgba(255, 0, 0, 0.3);
  &:hover{
    background-color: rgba(255, 0, 0, 0.66);
    cursor: not-allowed;
  }
}

div.selected{
  background-color: rgb(85, 252, 32);
  transition: background-color 0.2s;
}

.highlight{
  background-color: rgb(85, 252, 32);
}
