.full-width-table {
  width: 100%;
}

.mat-column-token{
  border-right: 1px solid currentColor;
  padding: 0 1em;
}

.mat-column-name{
  border-right: 1px solid currentColor;
  padding: 0 1em;
}

.mat-column-email{
  border-right: 1px solid currentColor;
  padding: 0 1em;
}

.mat-column-phone{
  border-right: 1px solid currentColor;
  padding: 0 1em;
}

.mat-column-time{
  border-right: 1px solid currentColor;
  padding: 0 1em;
}

.mat-column-numberOfGuests{
  padding: 0 1em;
}

.mat-column-edits{
  width: 130px;
  margin: 0 auto;
  padding: 0 1em;
}
