<form (ngSubmit)="onSubmit(form_ref)" #form_ref="ngForm">
  <label for="no-of-guests"><b>Number of guests:<sup>*</sup></b></label>
  <br>
  <input
    type="number"
    id="no-of-guests"
    name="numberOfGuests"
    class="form-field"
    min="1"
    max="10"
    required
    [(ngModel)]="getCurrentReservation().numberOfGuests"
    [ngClass]="{'error-field': numberOfGuests.errors && numberOfGuests.touched}"
    #numberOfGuests="ngModel"
  >
  <small><i>for reservation over 10 guests please contact us directly</i></small>
  <div *ngIf="numberOfGuests.errors && (numberOfGuests.touched && numberOfGuests.invalid)">
    <small class="error-message" *ngIf="numberOfGuests.errors?.['required']">This field is required</small>
    <small class="error-message" *ngIf="numberOfGuests.errors?.['min'] || numberOfGuests.errors?.['max']">The input value has to be between 1 and 10</small>
  </div>
  <br>
  <br>
  <label for="date"><b>Choose a date:<sup>*</sup></b></label>
  <br>
  <input
    type="date"
    id="date"
    name="date"
    class="form-field"
    required
    [(ngModel)]="getCurrentReservation().date"
    [ngClass]="{'error-field': invalidDate || (date.touched && date.invalid)}"
    #date="ngModel"
    (change)="checkDate(date)"
  >
  <div *ngIf="(date.touched && invalidDate)">
    <small class="error-message" *ngIf="date.errors?.['required']">This field is required</small>
    <small class="error-message" *ngIf="invalidDate">A date in past is selected</small>
  </div>
  <br>
  <label for="time-select"><b>Choose a time:<sup>*</sup></b></label>
  <br>
  <!-- <input
  type="time"
  id="time"
  name="time"
  class="form-field"
  min="17:00" max="21:00" value="21:00"
  step="1800"
  required>
  <br> -->
  <select
    name="time"
    id="time-select"
    class="form-field"
    required
    [(ngModel)]="getCurrentReservation().time"
    #time="ngModel"
  >
    <option value="17:00">17:00</option>
    <option value="17:30">17:30</option>
    <option value="18:00">18:00</option>
    <option value="17:30">18:30</option>
    <option value="19:00">19:00</option>
    <option value="17:30">19:30</option>
    <option value="20:00">20:00</option>
    <option value="17:30">20:30</option>
    <option value="21:00">21:00</option>
  </select>
  <br>
  <div *ngIf="(time.touched && time.invalid)">
    <small class="error-message">This field is required</small>
  </div>
  <br>
  <div class="button-container">
    <button type="button" class="form-field comp-color" (click)="goBack()"><b>BACK</b></button>
    <button type="submit" class="form-field" [disabled]="!form_ref.valid || invalidDate"><b>NEXT</b></button>
  </div>
  <p>
    *  : required field
  </p>
</form>
