<form (ngSubmit)="onSubmit(form_ref)" #form_ref="ngForm">
  <label for="select-food"><b>Add orders directly to your reservation?</b></label>
  <br>
  <button type="button" id="select-food" class="select-menu form-field comp-color" (click)="openMenuDialog()">CLICK ME</button>
  <br>
  <br>

  <label for="select-table"><b>Wanna select your table?</b></label>
  <br>
  <button type="button" class="select-table form-field comp-color" id="select-table" (click)="openSeatingDialog()">CLICK ME</button>
  <br>
  <br>

  <label for="special-requests"><b>Any special Requests?</b></label>
  <br>
  <textarea name="requests" id="special-requests" rows="5" class="form-field"></textarea>
  <br>
  <br>
  <div class="button-container">
    <button class="form-field comp-color" (click)="goBack()"><b>BACK</b></button>
    <button type="submit" id="submit" class="form-field"><b>RESERVE</b></button>
  </div>
</form>
