<img src="/assets/imgs/Restaurant-front.jpg" alt="" id="resto-front">
<div class="introduction">
  <h2>
    OUR Restaurant
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur qui laudantium, doloremque et molestias omnis architecto accusamus error porro, quae officiis ipsa temporibus, nemo veniam quo amet dolorem. Aspernatur, in.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis nemo, laborum tempore veritatis iste magni dolorum, inventore ex deserunt dolores ad nostrum quis error animi impedit libero dolore asperiores assumenda!
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum et quidem error ullam maiores excepturi nemo quod, nesciunt cumque quas itaque enim nobis est, esse perferendis totam inventore ea vel.
    Sequi iure ex, harum ea consectetur repellendus id, iste dolorum architecto, omnis quidem placeat! Perferendis nesciunt quasi tempore veniam aliquid ipsam aperiam architecto voluptas, deleniti voluptatem labore! Rerum, nulla facere.
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum et quidem error ullam maiores excepturi nemo quod, nesciunt cumque quas itaque enim nobis est, esse perferendis totam inventore ea vel.
    Sequi iure ex, harum ea consectetur repellendus id, iste dolorum architecto, omnis quidem placeat! Perferendis nesciunt quasi tempore veniam aliquid ipsam aperiam architecto voluptas, deleniti voluptatem labore! Rerum, nulla facere.
  </p>
  <hr>
  <hr>
</div>
<div class="foods">
  <h3
    style="width: 100%; text-align: center; margin: 0 auto;">
    OUR BESTS
  </h3>
  <hr>
  <h2 class="food-title">
    Vegan heaven
  </h2>
  <div class="food-one">
    <img src="/assets/imgs/food-one.jpg" alt="">
    <div>
      <p class="italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam officia tempora harum autem esse hic ipsam alias et tempore dolor ipsum, sit, at eum odio provident nam molestias sunt!
        Assumenda incidunt fugiat earum delectus possimus nulla molestiae vero dolor. Reprehenderit quibusdam perferendis repudiandae fugit voluptas, iste a eum quos distinctio dignissimos in quaerat porro vero. Ab fugiat est doloribus!
      </p>
      <p>
        - Some famous food critic
      </p>
    </div>
  </div>
  <hr>
  <h2 class="food-title">
    Midnight in paris
  </h2>
  <div class="food-one">
    <div>
      <p class="italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam officia tempora harum autem esse hic ipsam alias et tempore dolor ipsum, sit, at eum odio provident nam molestias sunt!
        Assumenda incidunt fugiat earum delectus possimus nulla molestiae vero dolor. Reprehenderit quibusdam perferendis repudiandae fugit voluptas, iste a eum quos distinctio dignissimos in quaerat porro vero. Ab fugiat est doloribus!
      </p>
      <p>
        - Some famous food critic
      </p>
    </div>
    <img src="/assets/imgs/midnight-in-paris.jpg" alt="">
  </div>
  <hr>
</div>
<hr>
<h2 class="food-title">
  Gottfried's Nackensteak
</h2>
<div class="food-one">

  <img src="/assets/imgs/nackensteaks.jpg" alt="">
  <div>
    <p class="italic">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam officia tempora harum autem esse hic ipsam alias et tempore dolor ipsum, sit, at eum odio provident nam molestias sunt!
      Assumenda incidunt fugiat earum delectus possimus nulla molestiae vero dolor. Reprehenderit quibusdam perferendis repudiandae fugit voluptas, iste a eum quos distinctio dignissimos in quaerat porro vero. Ab fugiat est doloribus!
    </p>
    <p>
      - GOTTFRIED'S NACKENSTEAK
    </p>
  </div>
</div>
<hr>

<br>

<hr>
<div class="location">
  <div class="address">
    <address>
      Visit Us:
      <br>
      Jüichi Restobar
      <br>
      Jüichi Hanno Street 13,
      <br>
      14159 Hannover, Germany
    </address>
  </div>
</div>

<hr>
