<div class="item-container normal" [ngClass]="{'selected': quantity != 0}">
  <div class="item-picture"><img [src]="this.data.source" alt=""></div>
  <div class="item-title"><h2>{{this.data.name}}</h2></div>
  <div class="item-desc"><p>{{this.data.desc}}</p></div>
  <div class="item-price">Price: <span class="bold" style="font-size: larger">{{this.data.price}}&euro;</span> per serving</div>
  <hr>
  <div class="quantity-selection">
    <button (click)="(quantity == 0) ? quantity = quantity : quantity = quantity - 1">-</button>
    <input type="number" max="10" min="0" [(ngModel)]="quantity" readonly>
    <button (click)="(quantity < 10) ? quantity = quantity + 1 : quantity = quantity">+</button>
  </div>
</div>
