<div class="item-container normal">
  <div class="item-picture"><img [src]="pictureUrl" alt=""></div>
  <div class="item-title"><h2>{{title}}</h2></div>
  <div class="item-desc"><p>{{desc}}</p></div>
  <div class="quantity-selection">
    <button (click)="(quantity == 0) ? quantity = quantity : quantity = quantity - 1">-</button>
    <input type="number" max="10" min="0" [(ngModel)]="quantity">
    <button (click)="(quantity < 10) ? quantity = quantity + 1 : quantity = quantity">+</button>
  </div>
</div>
