<div class="navbar">
  <div class="container">
    <div class="sub-container">
      <a class="brand bold" routerLink="/">HCI_Jüichi</a>
      <div id="nav-list">
        <a routerLink="/menu" class="nav-a" routerLinkActive="activeLink">OUR MENU</a>
        <a routerLink="/make-reservation/personal-info" class="nav-a" routerLinkActive="activeLink">MAKE RESERVATION</a>
        <a routerLink="/cancel-reservation" class="nav-a" routerLinkActive="activeLink">CANCEL RESERVATION</a>
      </div>
    </div>
    <a class="bold" routerLink="/staff" id="staff-button">FOR STAFFS</a>
  </div>
</div>
