@import "src/shared/_variables";
.container {
  background: $color-4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sub-container {
    display: flex;
    div#nav-list {
      display: flex;

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0.2em 1.5em;
        margin: 0.5em 0.5em;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $color-2;
          color: $color-4;
        }
        &.activeLink {
          background-color: $color-2;
          color: $color-4;
        }
      }
    }
  }

  a#staff-button {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(211, 211, 211, 0.562);
    border-radius: 0.4em;
  }
}
